@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-main: "Josefin Sans", sans-serif;

  /* Primary */
  --color-Blue-500: hsl(220, 98%, 61%);

  /* Gradient Check */
  --color-check-start: hsl(192, 100%, 67%);
  --color-check-end: hsl(280, 87%, 65%);

  /* Light Theme */
  --color-Gray-50: hsl(0, 0%, 98%);
  --color-Gray-300: hsl(233, 11%, 84%);
  --color-Gray-600: hsl(236, 9%, 61%);
  --color-Purple-300: hsl(234, 39%, 85%);
  --color-Navy-850: hsl(235, 19%, 35%);

  /* Dark Theme */
  --color-Navy-950: hsl(235, 21%, 11%);
  --color-Navy-900: hsl(235, 24%, 19%);
  --color-Purple-100: hsl(236, 33%, 92%);
  --color-Purple-600: hsl(235, 16%, 43%);
  --color-Purple-700: hsl(233, 14%, 35%);
  --color-Purple-800: hsl(237, 14%, 26%);
}
